.bgBanner {
    background-color: #23273a !important;
    color: white;
    text-align: center;
    max-width: 1200px;
    margin: auto;
    display: grid;
    justify-items:center;
    align-items: center;
    grid-template-columns: auto auto ;
    grid-gap:0 0 0 50px;
    padding:10px 10px 0 10px;
}
/* max-width: 1200px; */
.bannerRightItem{
    padding: 0%;
}