body{
    background-color: #1e2235;
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
